:root {
  --bg-color: #000000;
  --txt-color: #FFFFFF;
  --link-color: #21e0c3;
}

* {
  font-family: "Google Sans Code", monospace;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  padding: 2.5rem;
}

a, span {
  color: var(--txt-color);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

a:hover, span:hover {
  text-shadow: 0.1rem 0.1rem cyan, -0.1rem -0.1rem magenta;
  cursor: pointer;
}